<div class="home-section home-section-dark">
  <div class="container">
    <div class="row footer-row">
      <div class="col">
        <h5>Contact</h5>
        <ul class="no-bullet">
          <li>+385 95 555 WETIP</li>
          <li>crazie.developer@gmail.com</li>
          <li>Zagreb, Croatia</li>
        </ul>
      </div>
      <div class="col">
        <h5>Sitemap</h5>
        <ul class="sitemap-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Info</h5>
        <ul class="no-bullet">
          <li>Crazie Developer</li>
          <li>All Rights Reserved</li>
          <li>	&#169; Reforged 2021.</li>
          <li>License: MIT</li>
        </ul>
      </div>
    </div>
  </div>
</div>
