.sticky {
  position: sticky;
  top: 0px
}

.logo {
  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: goldenrod;
}

.navbar-color {
  background-color: black;
}

.inline {
  display: inline;
}

.nav-link {
  display: inline;
  color: goldenrod;
  font-size: 1.3em;
}

.nav-link:hover {
  text-shadow: 2px 2px 20px  goldenrod, -2px -2px 20px  goldenrod, 2px -2px 20px  goldenrod, -2px 2px 20px  goldenrod;
  transition: 0.3s ease;
}


