.sticky {
  position: sticky;
  top: 0px
}

.logo {
  font-weight: bold;
  font-size: 1.6em;
  font-family: "Copperplate Gothic Light";
  color: goldenrod;
}

.navbar-color {
  background-color: black;
  z-index: 1;
}

.inline {
  display: inline;
}

.nav-link {
  display: inline;
  color: goldenrod;
  font-size: 1.3em;
}

.nav-link:hover {
  text-shadow: 2px 2px 20px  goldenrod, -2px -2px 20px  goldenrod, 2px -2px 20px  goldenrod, -2px 2px 20px  goldenrod;
  transition: 0.3s ease;
}

.nav-links {
  font-family: "Copperplate Gothic Light";
}


