.home-section {
  height: 100vh;
}

.home-section h3, .home-section h2 {
  color: goldenrod;
}

.home-section p {
  text-align: justify;
}

.home-section-dark {
  background-color: goldenrod;
  color: black;
}

.home-section-gold {
  background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(218, 165, 32, 0.9),
      rgba(218, 165, 32, 0.9)
    ),
    /* your image */
    url('/assets/img/forge.jpg');
    background-size: cover;
  color: black;


}

.home-section-gold h2, .home-section-gold h4 {
  color: black;
}

.row {
  padding: 80px 0px;
}

.member-card, .member-card p {
   text-align: center;
 }

.member-card img {
  width: 20vh;
  margin: 0px auto;
}
