<div class="container">
  <div class="row home-section">
    <div class="col-xl-12">
      <h2>Reforged vision</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum
      </p>
    </div>
    <div class="col-xl-6 col-xs-12">
      <h3>Who we are?</h3>
      <p>
        We are software development startup company of heroes that have adapted to fast pacing digital revolution, and changed our professions
        to more demanding and productive filed of information technologies.
      </p>
      <p>
        Our team consists of a number of highly skilled, certain field focused, and innovative specialists. Covering all cogwheels necessary  for
        complete digital transformation of any scale and purpose.
      </p>
      <p>
        We are flexible but well organised and professional but relaxed congregation of minds, so fell free to contact us in any manner.
      </p>
    </div>
    <div class="col-xl-6 col-xs-12">
      <h3>What do we do?</h3>
      <p>
        The goal is to support Your digital transformation to latest industry standards, on all levels. Wether beeing a global enterprise, or a small
        start-up, and even an individual we are here to help and join You on that journey to success.
      </p>
      <p>
        Our core bussines is software development, and all services tied to digital transformation of bussiness. From consulting to solutions,
        covering all steps of digital transformation from innovation, to implementation and continuos infusion.
      </p>
    </div>
  </div>
</div>


  <div class="home-section home-section-gold">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 style="text-align: center;">Our Toolset</h2>
          <p style="text-align: center; font-style: italic; padding: 30px 0px;">
            - Depending on to your needs, we do not stick to one framework, but recommend one and tailor team for every specific project. -
          </p>
        </div>
        <div class="col">
          <h4>Enterprise Solutions</h4>
          <p>
            Oracle Fussion Middleware
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum
          </p>
        </div>
        <div class="col">
          <h4>Open Source</h4>
          <p>
            Angular + Spring.io + PostgreSQL
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum
          </p>
        </div>
        <div class="col">
          <h4>Personal Projects</h4>
          <p>
            Wordpress
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row home-section">
      <div class="col-12">
        <h2 style="text-align: center;">Reforged team</h2>
        <p style="text-align: center; font-style: italic; padding: 30px 0px;">
          We are a group ov individuals that have joined forces to create strong but flexibe professional envoirment with a goal to stay individual, but present as a group of combined knowlage for all field specializations.
        </p>
      </div>
      <div class="col member-card">
        <img src="/assets/img/login_user_key.svg" alt="Profile picture">
        <h4>Crazie Developer</h4>
        <p>
          Software Development Specialist
        </p>
      </div>
      <div class="col member-card">
        <img src="/assets/img/join_team.svg" alt="Profile picture">
        <h4>Join our team</h4>
        <p>
          Send open appliaction
        </p>
      </div>
      <div class="col member-card">
      </div>
    </div>
  </div>
